p {
    text-align: center;
}

.top {
    font-size: 30px;
    position: relative;
    top: 30px;
}

.result_name {
    font-size: 70px;
    background-color: #C0C0C0;
}

.media {
    display: flex;
    justify-content: space-between;
}


.youtube {
    text-align: center;
    display: block;
    padding-top: 20px;
}

.share {
    text-align: center;
}

.twitter-share-button{
    text-align: center;
    width: 30px;
    height: 8px
}

.blank {
    margin-top: 30px;
}
